@import '../../styles/variables.css';

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.profile-picture {
    height: 40vh;
    width: 40vh;
    border-radius: 20vh;
    margin: 0 2rem;
}

.about-me {
    display: flex;
    flex-direction: column;
}

.interests-Section {
    margin: 2rem;
}

.interests-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.interest {
    background-color: var(--highlight-color);
    padding: 1rem;
    margin: 0 0.25rem;
    border-radius: 2rem;
}
